* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Indie Flower', cursive;
  color: black;
}

#container {
  margin: 20px;
  /* margin: 20px 50px; */
}

/* Menu */

.top-menu {
  background: rgba(255,255,255,.5);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 0 20px;
}
.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
.main-menu {
  list-style: none;
  margin: 0;
  float: right;
}

.main-menu li{
  display: inline-block;
}

.main-menu a{
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 20px;
  font-size: 22px;
  color: black;
  letter-spacing: 2px;
  font-weight: bold;
  float: none;
  padding-top: 20px;
}

.main-menu a.active{
  color: red;
  font-size: 26px;
}

.active-hover:hover {
  transition: 1s ease;
  font-weight: bolder;
  scale: 1.2;
  color: red;
}

@media screen and (max-width: 600px) {
  .top-menu, .main-menu{
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}

/* Header */

header{
  background-image: url(img/wallpaper2you_419835.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* border: 2px solid red; */
  margin-bottom: 20px;
}

.header-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  background: rgba(255,255,255,.5);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
}

.header-logo{
  width: 480px;
  max-width: 85%;
  margin: 4rem 0 2rem 0;
}

.header-container p{
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  width: 490px;
  max-width: 85%;
  margin: 0 0 1rem 0;
}

.img-logo{
  object-fit: cover;
  width: 100%;
}

/* Main container  */

main {
  padding: 1px 16px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid black; */
  flex-wrap: wrap;
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
}

.spots-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
}

.name-season-img{
  padding: 5px;
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
}

.name-season-img:hover {
  transition: 2s ease;
  scale: 1.1;
  /* height: 230px;
  width:280px ; */
}

/* Footer */

.footer {
  margin-top: auto;
  width: 100%;
  background: rgba(255,255,255,.5);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  display: block;
  text-align: center;
  bottom: 0;
  height: 2.5rem;  
}

/* About page main container */

.about-header{
  font-size: 30px;
  font-weight: bolder;
}

.list-characters{
  list-style: none;
}

.about-name{
  color: red;
  font-weight: bolder;
  font-size: 20px;
}

.list-characters-item{
  font-size: 20px;
}

.video-container{
  width: 100%;
  aspect-ratio: 16/9;
}

/* Season 1 page main container */

.name-season-episode{
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

.storyline{
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
}

.episode{
  padding: 5px;
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  margin: 20px auto;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
}

.episode:hover{
  transition: 1s ease;
  background-color: lavender;
}

.episode-link{
  text-decoration: none;
  color: black;
}

.episode-describe{
  font-size: 27px;
  text-decoration: underline;
}

/* Actors page main container */
.actors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  gap: 16px;
  max-width: 1400px;
  padding: 20px 10px;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
}

.actors img {
  width: 100%;
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.8;
  transition: 500ms ease;
  filter: grayscale(100%);
}

.actors img:hover {
  scale: 1.1;
  filter: grayscale(0%);
  opacity: 1;
}

/* Contact page main container */

.items-center{
  display: flex;
  justify-content: center;
}

.bcg-item{
  background-color: lavender;
  width: fit-content;
  filter: grayscale(50%);
}

.text-center{
  text-align: center;
}

.placeholder-gray-300{
  flex-direction: column;
  display: flex;
  width:100%;
  margin-bottom: 20px;
}

.submit-button {
  font-size: 20px;
  background-color: rgb(144, 144, 241);
  color: black;
  font-family: 'Indie Flower', cursive;
  border-style: none;
  width: 100%;
  border-style: groove;
  margin-bottom: 20px;
}

.m-7{
  font-size: 22px;
}